<h1>TABLA DE NOTAS DEL ALUMNO</h1>
<div>
<table class="fixed_headers">
    <thead>
      <tr>
        <th>Asignatura</th>
        <th>Profesor</th>
        <th>Nota promedio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>JavaScript</td>
        <td>Jorge Álvarez Solís</td>
        <td>14/20</td>
      </tr>
      <tr>
        <td>CSS3</td>
        <td>Jorge Álvarez Solís</td>
        <td>16/20</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>Jorge Álvarez Solís</td>
        <td>19/20</td>
      </tr>
      <tr>
        <td>Java</td>
        <td>Jorge Álvarez Solís</td>
        <td>18/20</td>
      </tr>
      <tr>
        <td>Bases de datos (SQL)</td>
        <td>Jorge Álvarez Solís</td>
        <td>17/20</td>
      </tr>
      <tr>
        <td>Spring e Hibernate</td>
        <td>Jorge Álvarez Solís</td>
        <td>20/20</td>
      </tr>
      <tr>
        <td>Angular</td>
        <td>Jorge Álvarez Solís</td>
        <td>10/20</td>
      </tr>
      <tr>
        <td>*Prácticas*</td>
        <td>N/A</td>
        <td>15/20</td>
      </tr>
      <tr>
        <td>*Asistencias*</td>
        <td>N/A</td>
        <td>11/20</td>
      </tr>
      <tr>
        <td>*Módulo empleabilidad*</td>
        <td>N/A</td>
        <td>09/10</td>
      </tr>
      <tr>
        <td>*Cuestionario empleabilidad*</td>
        <td>N/A</td>
        <td>12/20</td>
      </tr>
      <tr>
        <td>*Cuestionario general*</td>
        <td>N/A</td>
        <td>17/20</td>
      </tr>
      <tr>
        <td>*EVALUACIONES*</td>
        <td>Jorge Álvarez Solís</td>
        <td>15/20</td>
      </tr>
      <tr>
        <td>*Módulo de orientación laboral*</td>
        <td>María García</td>
        <td>20/20</td>
      </tr>
      <tr>
        <td>Evaluación conducta</td>
        <td>Jorge Álvarez Solís</td>
        <td>- Por definirse -</td>
      </tr>
      <tr>
        <td>**NOTA GENERAL**</td>
        <td>Jorge Álvarez Solís</td>
        <td>- Por definirse -</td>
      </tr>
    </tbody>
  </table>
</div>