<form action="" method="post" target="_blank">

    <p>
  
      <strong>BUSCADOR DE ALUMNOS </strong> <input type="search" name="busqueda" list="lista">
  
      <input type="submit" value="Buscar">
  
    </p>
  
  </form>
  
  <datalist id="lista">
  
    <option value="Luis">
  
    <option value="Maria">
  
    <option value="Jesus">
  
    <option value="Fulanito">
  
  </datalist>
<br>
<h2><strong>Listado de Alumnos del I.E.S Cavanilles</strong></h2>
<br>
<p>Componente donde tiene que salir la llamada de usuarios listado</p>
<br>
    <table>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Correo electrónico</th>
        <th>Teléfono</th>
        <th>DNI</th>
        <th>Dirección</th>
        <th>Código Postal</th>
      </tr>
      <tr *ngFor="let alumnos of listaUsuarios">
        <td>{{alumnos.nombres}}</td>
        <td>{{alumnos.apellidos}}</td>
        <td>{{alumnos.edad}}</td>
        <td>{{alumnos.email}}</td>
        <td>{{alumnos.telefono}}</td>
        <td>{{alumnos.DNI}}</td>
        <td>{{alumnos.direccion}}</td>
        <td>{{alumnos.cp}}</td>
      </tr>
    </table>