<div class="grid grid-pad">
  <a *ngFor="let alumnos of listaUsuarios" class="col-1-4"
      routerLink="/usuario/{{alumnos.id}}">
    <div class="module hero">
      <h4>{{alumnos.name}}</h4>
    </div>
  </a>
</div>

<app-busqueda></app-busqueda>
<br>
<h2><strong>Listado de Alumnos del I.E.S Cavanilles</strong></h2>
<br>
<br>
    <table>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Correo electrónico</th>
        <th>Teléfono</th>
        <th>DNI</th>
        <th>Dirección</th>
        <th>Código Postal</th>
      </tr>
      <tr *ngFor="let alumnos of listaUsuarios">
        <td>{{alumnos.nombres}}</td>
        <td>{{alumnos.apellidos}}</td>
        <td>{{alumnos.edad}}</td>
        <td>{{alumnos.email}}</td>
        <td>{{alumnos.telefono}}</td>
        <td>{{alumnos.DNI}}</td>
        <td>{{alumnos.direccion}}</td>
        <td>{{alumnos.cp}}</td>
      </tr>
    </table>