<br>
<br>
<br>
<br>
  <h1>BASE DE DATOS DE ALUMNOS</h1>
<br>
<br>
<table class="rwd-table">
<tr>
  <th>ALUMNO</th>
  <th>CURSO</th>
  <th>ASIGNATURA</th>
  <th>NOTA</th>
</tr>
<tr>
  <td data-th="Movie Title">María Flores</td>
  <td data-th="Genre">WEB FULL STACK</td>
  <td data-th="Year">JavaScript</td>
  <td data-th="Gross">19/20</td>
</tr>
<tr>
  <td data-th="Movie Title">José Pérez</td>
  <td data-th="Genre">WEB FULL STACK</td>
  <td data-th="Year">HTML</td>
  <td data-th="Gross">13/20</td>
</tr>
<tr>
  <td data-th="Movie Title">Gabriela García</td>
  <td data-th="Genre">WEB FULL STACK</td>
  <td data-th="Year">HTML, CSS</td>
  <td data-th="Gross">11/20</td>
</tr>
<tr>
  <td data-th="Movie Title">Marcos Díaz</td>
  <td data-th="Genre">PYTHON</td>
  <td data-th="Year">PYTHON 3.0</td>
  <td data-th="Gross">18/20</td>
</tr>
<tr>
  <td data-th="Movie Title">Jesús Alonso</td>
  <td data-th="Genre">PROGRAMACIÓN AVANZADA</td>
  <td data-th="Year">C, C+, C++</td>
  <td data-th="Gross">14/20</td>
</tr>
</table>