<br>
<br>
<br>
<br>    
    <h1 class="title">*PORTAL ALUMNOS*</h1>
<section>
    <div class="card">
        <div class="card-body">
            <form>
                <h2>Bienvenido, alumno</h2>
                <div class="input-box">
                    <input type="text" placeholder="Usuario" required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" required>
                </div>
                <a href="#">
                    <p>Olvidé la contraseña</p>
                </a>
                <button type="submit">
                    <a href="#">Iniciar sesión</a>
                </button>
                <a href="#">
                    <p>¿Todavía no tienes cuenta? Regístrate aquí</p>
                </a>
            </form>
        </div>
    </div>
</section>