/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: rgb(2, 29, 56);
    font-family: 'Brush Script MT', cursive;
    font-size: 150%;
    text-align: center;
  }
  
  h2, h3 {
    color: #444;
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
  }
  
  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  input[type="text"], button {
    color: #333;
    font-family: 'Brush Script MT', cursive;
  }
  
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }
  
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* everywhere else */
  * {
    font-family: 'Brush Script MT', cursive;
  }

  /* MENÚ DE NAVEGACIÓN */

  header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: 'Brush Script MT', cursive;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #eca023;
  }